/* styles.css */

/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 50px auto;
    color: #ff5733; /* Naranja */
    padding: 15px;
}

h2 {
    color: #009688; /* Verde turquesa */
    padding: 15px;
}

h3 {
    color: #4caf50; /* Verde */
    padding: 15px;
}

p {
    margin-bottom: 20px;
    width: 700px;
    padding: 10px;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


ul, ol {
    width: 700px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}


.main-ul {
    list-style-type: none;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

li {
    margin-bottom: 10px;
    margin: 0 auto;
}

a {
    color: #ff5733; /* Naranja */
    text-decoration: none;
}

a:hover {
    color: #ff8c33; /* Naranja claro */
}
